<div class="navsty">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        
        <a class="navbar-brand" href=""><img src="images/nav-logo.png" alt="">
        </a>
      </div>
    </div>
  </nav>
</div>