<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <% include partials/head.ejs%>
    

  </head>
  <body>
  	<% include partials/header.ejs%>

	<div id="landing">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 slogan-div">
					<img id="main-logo" src="images/main-logo.png" height="200" width="500" >
					<p class="slogan" >The forward-thinking and accurate personal finance app</p>	
				</div>
				<div class="col-md-1 col-sm-1">	
				</div>
				<div class="col-md-6 col-sm-6">
					
					<img id="app-demo" src="images/app-demo.png">
				</div>
				
			</div>
		</div>
	</div>

	<div id="addBud">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-2">					
				</div>
				<div class="col-md-3 col-sm-3">
					<img class="add-budget" src="images/icon-add-budget.png" height="200" width="500" >
						
				</div>
				<div class="col-md-6 col-sm-6">
					<p class="addTitle">Easily create budgets</p>
					<p class="addText">Create and  edit budget categories with ease useing our simple, intuitive interface.</p>
					
				</div>
				
			</div>
		</div>
	</div>	

	<div id="dollar">
		<div class="container">
			<div class="row">
			<div class="col-md-1 col-sm-1">					
				</div>
				<div class="col-md-6 col-sm-6">
					<p class="dollarTitle">Give every dollar a purpose</p>
					<p class="dollarText">By assigning purpose to your monry, you'll not only find yourself saving for anticipated expenses, but you'll also find extra money for fun.</p>
					
				</div>
				<div class="col-md-1 col-sm-1">					
				</div>
				
				<div class="col-md-3 col-sm-3">
					<img class="dollar-img" src="images/icon-every-dollar.png"  >		
				</div>
			</div>
		</div>
	</div>

	<div id="addBud">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-2">					
				</div>
				<div class="col-md-3 col-sm-3">
					<img class="lock-img" src="images/icon-secure-lock.png">
						
				</div>
				<div class="col-md-6 col-sm-6">
					<p class="lockTitle">Securely connect to your bank</p>
					<p class="lockText">Foresight Budgets uses a safe, secure bank account connection tool called Plaid to import your transaction history.</p>
					
				</div>
				
			</div>
		</div>
	</div>	

	<div id="future-months">
		<div class="container">
			<div class="row">
			<div class="col-md-1 col-sm-1">					
				</div>
				<div class="col-md-6 col-sm-6">
					<p class="monthsTitle">Plan ahead for future months</p>
					<p class="monthsText">Stay on top of your finances by planning months in advance, setting aside money you have now for future expenses.</p>
					
				</div>
				<div class="col-md-1 col-sm-1">					
				</div>
				
				<div class="col-md-3 col-sm-3">
					<img class="dollar-img" src="images/icon-future-months.png"  >		
				</div>
			</div>
		</div>
	</div>

	<div id="addBud">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-2">					
				</div>
				<div class="col-md-3 col-sm-3">
					<img class="lock-img" src="images/icon-text-alerts.png">
						
				</div>
				<div class="col-md-6 col-sm-6">
					<p class="alertsTitle">Stay on track with proactive alerts</p>
					<p class="alertsText">Never lose control of your budget again. With proactive alerts, you'll be notified when transactions need to be categorized.</p>
					
				</div>
				
			</div>
		</div>
	</div>

	<div id="future-months">
		<div class="container">
			<div class="row">
			<div class="col-md-1 col-sm-1">					
				</div>
				<div class="col-md-6 col-sm-6">
					<p class="monthsTitle">See helpful, accurate graphs</p>
					<p class="monthsText">Foresight Budgets will never show you inaccurate or misleading information. Helpful graphs will be available on there is enough data for them to be accurate.</p>
					
				</div>
				<div class="col-md-1 col-sm-1">					
				</div>
				
				<div class="col-md-3 col-sm-3">
					<img class="graphs-img" src="images/icon-accurate-graphs.png"  >		
				</div>
			</div>
		</div>
	</div>

	<div id="addBud">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-2">					
				</div>
				<div class="col-md-3 col-sm-3">
					<img class="lock-img" src="images/icon-text-categorization.png">
						
				</div>
				<div class="col-md-6 col-sm-6">
					<p class="alertsTitle">Categorize purchases by texting</p>
					<p class="alertsText">Customizable text alerts will help you categorize transactions quickly and accurately before you forget what a purchase was for.</p>
					
				</div>
				
			</div>
		</div>
	</div>

	<div id="sub-form">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<p class="coming-form">Foresight Budgets is currently in development.</p>
					<p class="coming-form">Sign up to receive updates and release information.</p>
				</div>
				<div class="col-sm-12 col-md-10 col-md-offset-4 formspace">
					<div class="">
             			<form action="#">
              				<div class="input-group">
                 				<input class="btn btn-lg addborder" name="email" id="email" type="email" placeholder="Your Email" required>
                 				<button class="btn btn-info btn-lg btn-square" type="submit">Sign up</button>
              				</div>
             			</form>
    	 			</div>
				</div>
			</div>
		</div>
	</div>

    <% include partials/scripts.ejs%>
  </body>
</html>
