<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <% include partials/head.ejs%>
    

  </head>
  <body>
  	<% include partials/header.ejs%>

	<div id="landing">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 slogan-div">
					<img id="main-logo" src="images/main-logo.png" height="200" width="500" >
					<p class="slogan" >The forward-thinking and accurate personal finance app</p>	
				</div>
				<div class="col-md-1 col-sm-1">	
				</div>
				<div class="col-md-6 col-sm-6">
					
					<img id="app-demo" src="images/app-demo.png">
				</div>
				
			</div>
		</div>
	</div>


    <% include partials/scripts.ejs%>
  </body>
</html>
