body {
  font-family: 'Titillium Web', serif;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.navsty .navbar-brand {
  height: 80px;
}

.navsty .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navsty .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.navbar-alignit .navbar-header {
    -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
  top: 50%;
  display: block;
  position: relative;
  height: auto;
  transform: translate(0,-50%);
  margin-right: 15px;
  margin-left: 15px;
}

.navbar-nav>li>.dropdown-menu {
  z-index: 9999;
}

.navbar-default {
    background-color: rgb(69, 20, 89);
    border-color: #E7E7E7;
}

#landing{
  padding-top: 50px;
}

#main-logo{
  height: 110px;
}

#app-demo{
  height: 360px;
}

.slogan{
  padding-top: 20px;
  font-size: 34px;
  text-align: center;
  color: rgb(69, 20, 89);
}

.slogan-div{
  padding-top: 33px;
}