.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.navsty .navbar-brand {
  height: 80px;
}

.navsty .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navsty .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.navbar-alignit .navbar-header {
    -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
  top: 50%;
  display: block;
  position: relative;
  height: auto;
  transform: translate(0,-50%);
  margin-right: 15px;
  margin-left: 15px;
}

.navbar-nav>li>.dropdown-menu {
  z-index: 9999;
}

body {
  font-family: "Lato";
}


/* about section */
#about {
  padding-top: 60px;
  padding-bottom: 80px;
}
#about h2 {
  border-right: 2px solid #f2af00;
  display: inline-block;
  padding: 10px 20px 10px 10px;
}
#about .col-md-12 {
  text-align: center;
  padding-bottom: 60px;
}
#about img {
  border: 1px solid #666;
  padding: 10px;
}
#about h4 {
  padding-bottom: 10px;
}